

#checkout
{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius:0;
    color:#fff;
    padding:0;
    cursor:pointer;
   
}

#checkoutsm
{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border:2px solid black;
    color:#fff;
    padding:0;
    cursor:pointer;
}

#quanButton
{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    padding: 3%;
    font-weight: 100;
    background-color: transparent;
    border:none;
    align-items: center;
    justify-content: center;
}


#quanButton:hover,#delete:hover
{
    opacity:0.6;
    transition: opacity .25s ease-in-out ;
}

#quanInput
{
    text-align: center;
    background-color: transparent;
}




#checkout:hover
{
    opacity:0.8;
    transition: opacity 0.25s ease-in-out;
}

.header_details
{
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
}

.item_details
{
    font-size: 1rem;
}